<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyChiTieuNhom"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Home.FragAdd_Notice"
            android:exported="true" />
        <activity
            android:name=".Home.FragInvite_QR"
            android:exported="true" />
        <activity
            android:name=".Home.FragJoin_Group"
            android:exported="true" />
        <activity
            android:name=".Home.FragNotice"
            android:exported="true" />
        <activity
            android:name=".Home.UI.Display.TrangChu"
            android:exported="true" />
        <activity
            android:name=".Home.ChiaDeuFragment"
            android:exported="true" />
        <activity
            android:name=".Home.HoanTienFragment"
            android:exported="true" />
        <activity
            android:name=".Home.TVMDongFragment"
            android:exported="true" />
        <activity
            android:name=".Home.ChiFragment"
            android:exported="true" />
        <activity
            android:name=".Home.ThuFragment"
            android:exported="true" />
        <activity
            android:name=".GroupList.UI.Display.DanhSachNhom"
            android:exported="true" />
        <activity
            android:name=".Home.TrangChuTruongNhom"
            android:exported="true" />
        <activity
            android:name=".Home.ThongKe"
            android:exported="true" />
        <activity
            android:name=".Register.UI.Display.DangKy"
            android:exported="true" />
        <activity
            android:name=".Login.UI.Display.DangNhap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>